ollama
glob2
langchain~=0.3.23
chroma
dotenv~=0.9.9
gradio~=5.25.2
scikit-learn~=1.6.1
plotly~=6.0.1
langchain_chroma
langchain_huggingface
matplotlib~=3.10.1
langchain_community
pymupdf
numpy~=2.2.4
python-dotenv~=1.1.0
tqdm~=4.67.1
pandas~=2.2.3
SQLAlchemy~=2.0.40
langchain-community~=0.3.21
langchain-text-splitters~=0.3.8
langchain-core~=0.3.54
langgraph~=0.4.7
markdown2~=2.5.3
transformers~=4.51.3
ipython~=9.1.0
langchain_ollama